.ttable{
    
    border-collapse: collapse;
    font-size: 16px;
    
    text-align: left;
}
.tthead {
    display: none;

}
.ttr {
    display: block;
    /* border:0px solid transparent; */
    /* border:0.5px; */
    /* border-collapse: collapse; */
    margin-bottom: 24px;
    padding: 16px 8px 8px 16px;
    background-color: transparentize( white, 0 );
    /* box-shadow: 0 0 1rem transparentize( black, 0.9 ); */
}
.ttd{
    /* border:0px transparent; */
    
    border-collapse: collapse;
    padding: 16px 8px 8px 16px;
    /* display: inline-block; */
    /* margin: 4px 4px 4px 4px; */
    text-align: left;
    font-size: 16px;
    background-color: white;
}
.ttd:before {
    float: left;
    /* border:0px solid transparent; */
    
    border-collapse: collapse;
    margin: -8px 8px -8px -8px;
    padding: 0.625rem 0.5rem 0.625rem;
    font-size: 16px;
    font-weight: bold;
    background: transparentize( white, 0 );
    color: black;
}
.ttd:nth-child(1):before {
    content: "Campaign: ";
}
.ttd:nth-child(2):before {
    content: "Campaign Name: ";
}
.ttd:nth-child(3):before {
    content: "Purpose: ";
}
.ttd:nth-child(4):before {
    content: "Description: ";
}
.ttd:nth-child(5):before {
    content: "Funding Goal: ";
}
.ttd:nth-child(6):before {
    content: "Owner Account Address: ";
}
.ttd:nth-child(7):before {
    content: "Recent Doner Address: ";
}
.ttd[data-label="id"] {
    display: block;
    float: left;
    width: 100%;
}
.ttd[data-label="campaignName"] {
    display: block;
    float: left;
    width: 50%;
}
.ttd[data-label="cause"] {
    display: block;
    float: right;
    width: 50%;
}
.ttd[data-label="description"] {
    display: block;
    float: left;
    width: 50%;
}
.ttd[data-label="amount"] {
    display: block;
    float: right;
    width: 50%;
/* x */
}
.ttd[data-label="recipient"] {
    display: block;
    float: left;
    width: 50%;
/* 
    &:before {
        display: block;
        margin-right: -8px;
        margin-bottom: 8px;
        float: center;
    } */
}
.ttd[data-label="donor"] {
    display: block;
    float: left;
    width: 50%;
/* 
    &:before {
        display: block;
        margin-right: -8px;
        margin-bottom: 8px;
        float: center;
    } */
}
.ttd[data-label="create"] {
    display: block;
    float: right;
    width: 50%;

    /* &:before {
        display: block;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        margin-bottom: 50%;
        float: center; */
    /* } */
}

.ttd:empty {
    display: none;
}