/* Styles go here */
.table {
    border-spacing: 0px;
    background: #fff;

}

.cell {

    padding: 4px;
    text-align: left;
}

input {
    width: 100%;
}

.card {
    /* Add shadows to create the "card" effect */

    transition: 0.3s;
    border-radius: 5px;
    width: 34%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 2px 16px;
    width: 100%;
}