
#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.contact-card {
    height: 560px;
    width: 350px;
    margin-left: 116%;
    margin-top: -71.2%;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.stats-card {

    margin-left: 3%;
    margin-top: -20%;
}